#download {
    background-image: url("../img/Diamond-Sunset.svg");
    background-size: cover;
}
body {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
.navbar-brand{
  font-weight: 700;
}
.footer {
    background-color: #f5f5f5;
}